/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Form container styles */
.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Form input styles */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Form button styles */
.form-container button {
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.form-container button:hover {
    background-color: #0056b3;
}

/* Form headings styles */
.form-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

/* Form columns */
.form-column {
    float: left;
    width: 50%;
    padding: 0 10px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Form select styles */
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff; /* Adjust the background color as needed */
    color: #333; /* Adjust the text color as needed */
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 24px 24px;
}

.error {
    color: red;
}